@using Places.Web.Models.ViewModels
@inject IViewLocalizer Localizer



<div id="myCarousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/bannerHome1.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                @Localizer["Header"]              
                <form class="form-wrap mt-4" asp-controller="Places" asp-action="Index" asp-route-page="1">
                    <div class="btn-group col-md-10 " role="group" aria-label="Basic example">
                        <input name="searchString" type="text" placeholder="@Localizer["PlacesName"]" class="btn-group1 form-control form-control-lg">
                    </div>
                    <input type="submit" value="@Localizer["search"]" class="btn btn-primary btn-lg">

                </form>


                <div class="slider-link">
                    <a href="#">@Localizer["BrowsePopular"]  </a><span>@Localizer["or"]</span> <a href="#"> @Localizer["RecentlyAdded"]</a>

</div>
            </div>
        </div>
    </div>
</div>
<!--============================= FIND PLACES =============================-->
<section class="main-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <h3>@Localizer["WhatDoYouNeedToFind"]</h3>

</div>
            </div>
        </div>
        @Html.Partial("~/Views/Places/_FindPlace.cshtml", ViewData["PlaceTypes"] as List<LookupViewModel>)
    </div>
</section>
<!--============================= FEATURED PLACES =============================-->
<section class="light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <h3>@Localizer["FeaturedPlaces"]</h3>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewData["TopPlaces"] as List<PlaceViewModel>)
            {
                @Html.Partial("~/Views/Shared/Place.cshtml", item)
            }
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a asp-area="" asp-controller="Places" asp-action="Index" asp-route-page="1" class="btn-danger btn-lg">@Localizer["ViewAll"]</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--//END FEATURED PLACES -->
